* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 1920px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    margin: 0 auto;
    background-color: #ffffff;
    color: #ffffff;
}

p {
    line-height: 150%;
}
/*Header*/
header {
    background-color: #D2D6EF;
    width: 100%;
    padding-top: 2rem;
}

h1 a {
    color: #32373a;
    text-decoration: none;
    font-size: 4.2rem;
    margin-bottom: 2rem;
}

header h1,
nav {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
}

nav {
    background-color: #F4F1BB;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: #32373a;
    text-decoration: none;
    font-size: 2.4rem;
    padding: 1rem;
}


li {
    list-style: none;
    padding: 1rem 0;
}

#active {
    background-color: #1E352F;
}

nav ul li:hover {
    background-color: #1E352F;
}

nav ul li a:hover {
    color: #ffffff;
    padding: 1rem;
}

#active a {
    color: #ffffff;
}

/*Main content*/
main {
    padding: 2rem;
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
    background-color: #1E352F;
    margin-bottom: 20rem;
    border-radius: 0 0 10rem;
}

form {
    margin-bottom: 10rem;
}

form input,
labels {
    display: block;
    font-size: 1.8rem;
}

form input {
    margin-bottom: 2rem;
    padding: 0.5rem;
    width: 100%;
    border: solid 0.2rem #405e79;
}

textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    border: solid 0.2rem #405e79;
}

button {
    margin-bottom: 3rem;
    margin-top: 0.5rem;
    padding: 1rem;
    font-size: 2rem;
    background-color: #d2d6ef;
    color: #32373a;
    border: none;
    cursor: pointer;
    transition: ease-out 0.1s;
}

button:hover {
    background-color: #F4F1BB;
    box-shadow: #d2d6ef inset 0px 0px 10px 5px;
    border-radius: 50rem;
}

#btn-submit {
    margin-top: 2rem;
    padding: 1rem;
    font-size: 2.4rem;
    background-color: #d2d6ef;
    color: #32373a;
    border: none;
    cursor: pointer;
}

#btn-submit:hover {
    background-color: #F4F1BB;
    box-shadow: #d2d6ef inset 0px 0px 10px 5px;
    border-radius: 50rem;
}

#error {
    margin-bottom: 2rem;
}

.cv-article {
    border-top: 0.4rem dashed #F4F1BB;
}

.cv-wrap-title {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

article h2 {
    margin-bottom: 1rem;
}

article h3 {
    margin-top: 4rem;
    margin-bottom: 1rem;
}